@model IEnumerable<Favorite_Movie_List.Models.Movie>
@using Favorite_Movie_List.Models

@{
    ViewBag.Title = "MovieResult";
}

<h2>Movie Result</h2>


<table class="table table-striped table-hover">
    <tr>
        @foreach (var item in Model)
        {
            <td>
                <b>
                    @Html.DisplayFor(modelItem => item.Title)
                </b>
            </td>
        }
    </tr>
    <tr>
        @foreach (var item in Model)
        {
            <td>
                <img src="@item.Poster" alt="@item.Title" width="200" height="265" />
            </td>
        }
    </tr>
    <tr>

        @foreach (var item in Model)
        {
            <td>
                <b>
                    @Html.DisplayFor(modelItem => item.Year)
                </b>
            </td>
        }
    </tr>
    <tr>

        @foreach (var item in Model)
        {
            <td>
                @Html.ActionLink("Add To Favorite", "AddFavorite", new { movie = item.ImdbId }, new {@class="btn btn-primary" })
            </td>
        }
    </tr>
</table>
